/*
* @Author: Administrator
* @Date:   2017-10-07 21:23:38
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-10 23:19:41
*/
@import url("base.css");

.beijing{
	width: 100%;
	height: 600px;
	background: url('../img/lianxi3.jpg');
	background-size: 100% 100%;
	position: fixed;
	top: 0;left: 0;
	z-index: -999;
}
header{
	width: 100%;
	height: 600px;
	/* height: auto; */
	overflow: hidden;
	background:  rgba(0, 0, 0, 0.3);
}
.logo{
	width: 100%;
	height: 130px;
	overflow: hidden;
}
.logo img{
	display: block;
	width: 161px;
	height: 45px;
	margin: 0 auto;
	margin-top: 50px;
}
.tiao{
	width: 98%;
	margin: 0 auto;
	height: 2px;
	background: #fff;
}
.ul-xian{
	width:60%;
	height: 75px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}
.ul-xian li,.ul-yin li{
	float: left;
}
.ul-xian li a,.ul-yin li a{
	font-size: 16px;
	color: #fff;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 75px;
}
.ul-xian li:nth-child(6) a,.ul-yin li:nth-child(6) a{
	color: #A33E10;
}
.ul-xian li a:hover{
	color: #A33E10;
	/* border: 1px solid #fff; */
}
.ul-yin li a:hover{
	color: #A33E10;
	/* border: 1px solid #fff; */
}
.yin-box{
	width: 100%;
	height: 75px;
	margin:0 auto;
	background: #000;
	position: fixed;
	top: 0;left: 0;
	z-index: 999;
	/* display: none; */
	opacity: 0;
}
.ul-yin{
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
header span{
	display: block;
	font-size: 80px;
	color: #fff;
	text-align: center;
	margin-top: 100px;
}
header p{
	font-size: 30px;
	color: #fff;
	text-align: center;
}

/* 联系我们 */
.lianxi{
	height: auto;
	overflow: hidden;
	padding: 80px 0;
	background: #fff;
}
.lianxi-left{
	width: 583px;
	height: 260px;
	overflow: hidden;
	position: relative;
	/* cursor: url(http://webapi.amap.com/theme/v1.3/openhand.cur), default; */
}
.lianxi-left img{
	display: block;
/* 	width: 100%;
	height: 100%; */
	position: absolute;
	top: 0;
	left: 0;
}
.yidong{
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
	top: 0;left: 0;
}
.lianxi-right{
	width: 583px;
	height: 260px;
	overflow: hidden;
}
.lianxi-right p{
	font-size: 22px;
	color: #575C5C;
	margin-top: 30px;
	margin-left: 20px;
}
.company{
	height: 112px;
	margin-top: 40px;
	margin-left: 20px;
}
.company span{
	font-size: 14px;
	color: #575C5C;
	line-height: 1.2
}
/* 关于我们 */
.guanyu{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-bottom: 40px;
	background: #221111;
}
.guanyu-left{
	margin-top: 50px;
}
.guanyu-center{
	margin-top: 50px;
}
.guanyu-right{
	margin-top: 50px;
}
.guanyu-logo img{
	width: 161px;
	height:45px;
	display: block;
}
.guanyu-left p{
	font-size: 14px;
	color: #fff;
	line-height: 20px;
	margin-top: 20px;
}
.guanyu-center ul li a{
	font-size: 14px;
	color: #fff;
	line-height: 30px;
}
.guanyu-center ul li:first-child a{
	display: block;
	font-size: 18px;
	margin-bottom: 15px;
}
.guanyu-center ul li:first-child~li:hover a{
	color: #A4400B;
}
.guanyu-zi{
	font-size: 18px;
	color: #fff;
	line-height: 30px;
	margin-bottom: 15px;
	margin-left: 15px;
}
.guanyu-1{
	width: 130px;
	height: 100px;
	margin-bottom: 20px;
	overflow: hidden;
}
.guanyu-1 img{
	width: 100%;
	height:100%;
	display: block;
	transition: all 0.5s;
}
.guanyu-1 img:hover{
	transform: scale(1.2,1.2);
}
.guanyu-gang{
	width: 100%;
	height: 1px;
	background: #706565;
	margin-top:250px;
}
.guanyu-bottom{
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-top:30px;
}